<mat-toolbar color="primary">
  <core-teleport name="left"></core-teleport>
  <div class="mat-spacer"></div>
  <core-teleport name="right"></core-teleport>
</mat-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Teleport stepper buttons</mat-card-title>
    <mat-card-subtitle>Placed them on toolbar</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper #stepper labelPosition="bottom">
      <mat-step label="Step 1" state="phone">
        <p>Content in step 1</p>
        <div *coreTeleport="'left' activate: stepper.selectedIndex === 0">
          <button mat-raised-button matStepperNext>To 2</button>
        </div>
      </mat-step>
      <mat-step label="Step 2" state="chat">
        <p>Content in step 2</p>
        <ng-template coreTeleport="left" [activate]="stepper.selectedIndex === 1">
          <button mat-raised-button matStepperPrevious>Back 1</button>
        </ng-template>
        <ng-template coreTeleport="right" [activate]="stepper.selectedIndex === 1">
          <button mat-raised-button matStepperNext>To 3</button>
        </ng-template>
      </mat-step>
      <mat-step label="Step 3">
        <p>Content in step 3</p>
        <ng-template coreTeleport="left" [activate]="stepper.selectedIndex === 2">
          <button mat-raised-button matStepperPrevious>Back 2</button>
        </ng-template>
        <ng-template coreTeleport="right" [activate]="stepper.selectedIndex === 2">
          <button mat-raised-button matStepperNext>Done</button>
        </ng-template>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template let-index="index" matStepperIcon="number">
        <mat-icon>{{index === 0 ? 'perm_contact_calendar' : 'date_range'}}</mat-icon>
      </ng-template>
      <ng-template let-index="index" matStepperIcon="edit">
        <mat-icon>{{index === 0 ? 'perm_contact_calendar' : 'date_range'}}</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
