<mat-toolbar color="primary">
  <core-teleport name="left"></core-teleport>
  <div class="mat-spacer"></div>
  <core-teleport name="right"></core-teleport>
</mat-toolbar>
<div class="my-card">
  <mat-horizontal-stepper #stepper labelPosition="bottom">

    <!-- Walrus. -->
    <mat-step label="Walrus">
      <img src="https://picsum.photos/id/1084/550/350" alt="Jay Ruzesky">
      <div *coreTeleport="'left' activate stepper.selectedIndex === 0">
      </div>
      <div *coreTeleport="'right' activate stepper.selectedIndex === 0">
        <button mat-raised-button matStepperNext>Dog</button>
      </div>
    </mat-step>

    <!-- Dog. -->
    <mat-step label="Dog">
      <img src="https://picsum.photos/id/1062/550/350" alt="Matthew Wiebe">
      <div *coreTeleport="'left' activate stepper.selectedIndex === 1">
        <button mat-raised-button matStepperPrevious>Walrus</button>
      </div>
      <div *coreTeleport="'right' activate stepper.selectedIndex === 1">
        <button mat-raised-button matStepperNext>Tiger</button>
      </div>
    </mat-step>

    <!-- Tiger. -->
    <mat-step label="Tiger">
      <img src="https://picsum.photos/id/1074/550/350" alt="Samuel Scrimshaw">
      <div *coreTeleport="'left' activate stepper.selectedIndex === 2">
        <button mat-raised-button matStepperPrevious>Dog</button>
      </div>
      <div *coreTeleport="'right' activate stepper.selectedIndex === 2">
      </div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template let-index="index" matStepperIcon="number">
      <mat-icon>pets</mat-icon>
    </ng-template>
    <ng-template let-index="index" matStepperIcon="edit">
      <mat-icon>pets</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>
